@media (min-width: 1280px) {

body,
    html {
        margin: 0;
        padding: 0;
        font-size: 62.5%;

    }



    .wrapper {
        max-width: 120rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0 2% 0 2%;

    }

    .burger {
        display: none;
    }

    h1 {
        font-family: 'Georgia', 'Gelasio', serif;
        color: rgba(241, 205, 179, 1);
        font-style: normal;
        font-weight: 400;
        font-size: 3.2rem;
        margin: 0;
        letter-spacing: 0.06em;
        color: rgba(84, 84, 84, 1);

    }

    h2 {

        font-family: 'Arial', 'Arimo', sans-serif;
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.5rem;
        letter-spacing: 0.1em;
        color: rgba(255, 255, 255, 1);
        margin: 0;
        padding: 0;
        color: rgba(41, 41, 41, 1);
    }

    h3 {

        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 3.5rem;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #545454;

    }

    .card-body h3 {

        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 2rem;
        line-height: 2.3rem;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #545454;
    }

    /* HEADER */

    .header-background {
        background: #FFFFFF;
        min-height: 10.2rem;
        position: fixed;
        width: 100%;

    }

    header {
        padding-top: 3rem;
        height: 9rem;
        display: flex;
        width: 100%;
        justify-content: space-between;


    }

    .logo {
        width: 30rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .logo-subheader {
        margin-left: 0.4rem;
        margin-top: 0.9rem;
        display: inline-block;
    }


    nav {
        /*background-color: rgb(251, 1, 1); nav area test*/

        height: 6rem;
        display: inline-block;
        /*  background-color: red; */
        display: flex;
        align-items: flex-start;


    }

    a {
        text-decoration: none;
    }

    nav a {
        color: #545454;
        font-family: 'Arial', 'Arimo', sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 160%;
        letter-spacing: 0;
        margin-left: 3.6rem;
        margin-top: 1.6rem;
        text-decoration: none;
        transition: color 0.2s ease;

    }

    nav a:hover {
        color: #292929;

    }

    nav .active {
        cursor: pointer;

        color: #292929;
        border-bottom: 0.3rem solid rgb(241, 205, 179);
    }

    nav a:active {
        transform: scale(.98);
    }

    /* OUR FRIENDS SECTION */


    .our-friends-background {
        background: #F6F6F6;
        min-height: 134.2rem;
        padding-top: 12rem;

    }

    .our-friends-header {
        display: inline-block;
        text-align: center;
        padding-top: 4.6rem;
    }

    .slider {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 2.3rem;
        column-gap: 3rem;
        row-gap: 3rem;
    }

    .card-body {
        width: 27rem;
        height: 43.5rem;
        background: #FAFAFA;
        border-radius: 0.9rem;
        transition: box-shadow 0.4s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.1rem;

    }


    .card-body:hover {
        box-shadow: 1rem 1.2rem 2.1rem 0rem rgba(0, 0, 0, 0.33);
        -webkit-box-shadow: 1rem 1.2rem 2.1rem 0 rgba(0, 0, 0, 0.33);
        -moz-box-shadow: 1rem 1.2rem 2.1rem 0rem rgba(0, 0, 0, 0.33);
        cursor: pointer;
    }

    .card-button {
        margin-top: -0.3rem;
        background-color: transparent;
        padding: 1.4rem 4.3rem;
        border: 0.2rem solid #F1CDB3;
        color: #292929;
        display: inline-block;
        border-radius: 10rem;
        font-family: 'Georgia', 'Gelasio', serif;
        font-size: 1.7rem;
        line-height: 130%;
        letter-spacing: 0.06em;

        transition: background-color 0.5s ease;

    }

    .card-button:hover {
        cursor: pointer;
        background: #FDDCC4;
        border: 0.2rem solid #FDDCC4;

    }

    .slider-button-container {
        display: flex;
        flex-direction: column;
        gap: 6rem;
        align-items: center;
    }



    .pagination {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 2rem;
        line-height: 115%;

        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        gap: 2rem;
        color: #292929;

    }



    .pagination button {

        width: 5.2rem;
        height: 5.2rem;
        border-radius: 10rem;
        cursor: pointer;
    }

    .active-button {
        border: 0.2rem solid #F1CDB3;
        transition: background-color 0.2s ease;
    }

    .active-button:hover {
        background: #F1CDB3;
    }

    .current-page {
        background: #F1CDB3;

    }

    .current-page:hover {
        cursor: default;
    }

    .inactive {
        border: 0.2rem solid #CDCDCD;

    }

    .inactive:hover {
        cursor: default;

    }

    .our-friends-background .wrapper {
        display: flex;
        flex-direction: column;
    }


    /* CONTACTS (FOOTER) */
    .main-footer-section {
        min-height: 35rem;

        background: url(/assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    }

    .footer-container {
        display: flex;
        gap: 4.2rem;
        padding-top: 4rem;
    }

    .footer-text {
        display: flex;
        gap: 6.3rem;
    }

    .contacts {
        display: flex;
        flex-direction: column;
        gap: 3.9rem;
        max-width: 45%;

    }

    .footer-header {
        width: 83%;

        margin-top: 1.7rem;
        margin-bottom: 0;
        margin-right: 0;
        /* h3 */
        text-align: left;
        font-family: 'Georgia', 'Gelasio', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 3.5rem;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #FFFFFF;

    }

    .footer-subheader {
        width: 75%;
        margin-top: 1.7rem;
        margin-bottom: 0rem;

        height: 9rem;
        text-align: left;
        font-family: 'Georgia', 'Gelasio', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 3.5rem;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #FFFFFF;
    }

    .contacts h4 {

        font-family: 'Georgia', 'Gelasio', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 2rem;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #F1CDB3;
    }

    .email {


        display: flex;
        width: 25.1rem;
        height: 3.2rem;
        align-items: center;
        gap: 2rem;
    }



    .phone {

        display: flex;
        width: 25.1rem;
        height: 3.2rem;
        align-items: center;
        gap: 2rem;

    }

    .location {
        max-width: 45%;
        display: flex;
        flex-direction: column;
        gap: 3.9rem;
    }

    .address-boston {
        display: flex;
        width: 40rem;
        height: 3.2rem;
        align-items: center;
        gap: 2rem;

    }

    .address-london {
        display: flex;
        width: 260;
        height: 3.2rem;
        align-items: center;
        gap: 2rem;

    }

    .footer-puppy {

        padding-left: 2.3rem;

    }

    .contacts a {
        transition: transform .1s ease;
    }

    .contacts a:hover {
        transform: scale(1.03);
    }

    .location a {
        transition: transform .1s ease;
    }

    .location a:hover {
        transform: scale(1.03);
    }

    .location h4 {

        font-family: 'Georgia', 'Gelasio', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 2.0rem;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #F1CDB3;
    }


}








@media (min-width: 768px) and (max-width:1279px) {
body,
    html {
        margin: 0;
        padding: 0;
        font-size: 62.5%;


    }



    .wrapper {
        max-width: 120rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0 3rem 0 3rem;



    }


    h1 {
        font-family: 'Georgia', 'Gelasio', serif;
        color: rgba(241, 205, 179, 1);
        font-style: normal;
        font-weight: 400;
        font-size: 3.2rem;
        margin: 0;
        letter-spacing: 0.06em;
        color: rgba(84, 84, 84, 1);

    }

    h2 {

        font-family: 'Arial', 'Arimo', sans-serif;
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.5rem;
        letter-spacing: 0.1em;
        color: rgba(255, 255, 255, 1);
        margin: 0;
        padding: 0;
        color: rgba(41, 41, 41, 1);
    }

    h3 {

        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 3.5rem;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #545454;

    }

    .card-body h3 {

        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 2rem;
        line-height: 2.3rem;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #545454;
    }

    /* HEADER */

    .header-background {
        background: #FFFFFF;
        min-height: 10.2rem;
        position: fixed;
        width: 100%;

    }

    header {
        padding-top: 3rem;
        height: 9rem;
        display: flex;
        width: 100%;
        justify-content: space-between;




    }

    .logo {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .logo-subheader {
        margin-left: 0.4rem;
        margin-top: 0.9rem;
        display: inline-block;
    }


    nav {
        /*background-color: rgb(251, 1, 1); nav area test*/

        height: 6rem;
        display: inline-block;
        /*  background-color: red; */
        display: flex;
        align-items: flex-start;


    }

    a {
        text-decoration: none;
    }

    nav a {
        color: #545454;
        font-family: 'Arial', 'Arimo', sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 160%;
        letter-spacing: 0;
        margin-left: 3.6rem;
        margin-top: 1.6rem;
        text-decoration: none;
        transition: color 0.2s ease;

    }

    nav a:hover {
        color: #292929;

    }

    nav .active {
        cursor: pointer;

        color: #292929;
        border-bottom: 0.3rem solid rgb(241, 205, 179);
    }

    nav a:active {
        transform: scale(.98);
    }

    /* OUR FRIENDS SECTION */


    .our-friends-background {
        background: #F6F6F6;
        min-height: 173.3rem;
        padding-top: 12rem;

    }

    .our-friends-background .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .our-friends-header {
        display: inline-block;
        text-align: center;
        margin-top: 8rem;
        margin-bottom: 0;
    }

    .slider {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 3rem;
        column-gap: 4rem;
        padding-top: 2.9rem;
    }

    .card:nth-child(8) .card-body {
        display: none;
        ;
    }

    .card:nth-child(7) .card-body {
        display: none;
        ;
    }

    .card-body {
        width: 27rem;
        height: 43.5rem;
        background: #FAFAFA;
        border-radius: 0.9rem;
        transition: box-shadow 0.4s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.1rem;

    }


    .card-body:hover {
        box-shadow: 1rem 1.2rem 2.1rem 0rem rgba(0, 0, 0, 0.33);
        -webkit-box-shadow: 1rem 1.2rem 2.1rem 0 rgba(0, 0, 0, 0.33);
        -moz-box-shadow: 1rem 1.2rem 2.1rem 0rem rgba(0, 0, 0, 0.33);
        cursor: pointer;
    }

    .card-button {
        margin-top: -0.3rem;
        background-color: transparent;
        padding: 1.4rem 4.3rem;
        border: 0.2rem solid #F1CDB3;
        color: #292929;
        display: inline-block;
        border-radius: 10rem;
        font-family: 'Georgia', 'Gelasio', serif;
        font-size: 1.7rem;
        line-height: 130%;
        letter-spacing: 0.06em;

        transition: background-color 0.5s ease;

    }

    .card-button:hover {
        cursor: pointer;
        background: #FDDCC4;
        border: 0.2rem solid #FDDCC4;

    }

    .slider-button-container {
        display: flex;
        flex-direction: column;
        gap: 0.9rem;
        align-items: center;

    }



    .pagination {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 2rem;
        line-height: 115%;

        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        gap: 2rem;
        color: #292929;

    }



    .pagination button {

        width: 5.2rem;
        height: 5.2rem;
        border-radius: 10rem;
        cursor: pointer;
    }

    .active-button {
        border: 0.2rem solid #F1CDB3;
        transition: background-color 0.2s ease;
    }

    .active-button:hover {
        background: #F1CDB3;
    }

    .current-page {
        background: #F1CDB3;

    }

    .current-page:hover {
        cursor: default;
    }

    .inactive {
        border: 0.2rem solid #CDCDCD;

    }

    .inactive:hover {
        cursor: default;

    }

    /* CONTACTS */
    .main-footer-section {
        min-height: 63.9rem;

        background: url(/assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    }

    .footer-container {
        display: flex;
        gap: 4.2rem;
        padding-top: 1.2rem;
        flex-direction: column;
        align-items: center;
    }

    .footer-text {
        display: flex;


    }

    .contacts {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        width: 43%;
        padding-left: 3.4rem;

    }

    .footer-header {
        width: 95%;

        margin-top: 1.7rem;
        margin-bottom: 0;
        margin-right: 0;
        /* h3 */
        text-align: left;
        font-family: 'Georgia', 'Gelasio', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 3.5rem;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #FFFFFF;

    }

    .footer-subheader {
        width: 88%;
        margin-top: 1.7rem;
        margin-bottom: 0rem;

        height: 9rem;
        text-align: left;
        font-family: 'Georgia', 'Gelasio', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 3.5rem;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #FFFFFF;
    }

    .contacts h4 {

        font-family: 'Georgia', 'Gelasio', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 2rem;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #F1CDB3;
        margin: 0;
    }

    .email {
        display: flex;
        height: 3.2rem;
        align-items: center;
        gap: 2rem;
    }



    .phone {
        display: flex;
        height: 3.2rem;
        align-items: center;
        gap: 2rem;

    }

    .location {
        width: 45%;
        display: flex;
        flex-direction: column;
        gap: 4rem;
        margin-left: 3.4rem;
    }

    .address-boston {
        display: flex;
        height: 3.4rem;
        align-items: center;
        gap: 2rem;

    }

    .address-london {
        display: flex;
        height: 3.2rem;
        align-items: center;
        gap: 2rem;

    }

    .footer-puppy {

        padding-left: 0rem;
        padding-top: 2.3rem;



    }

    .contacts a {
        transition: transform .1s ease;
    }

    .contacts a:hover {
        transform: scale(1.03);
    }

    .location a {
        transition: transform .1s ease;
    }

    .location a:hover {
        transform: scale(1.03);
    }

    .location h4 {

        font-family: 'Georgia', 'Gelasio', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 2.0rem;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #F1CDB3;
    }
}











@media (max-width: 767px) {

body,
    html {
        margin: 0;
        padding: 0;
        font-size: 62.5%;


    }



    .wrapper {
        max-width: 120rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0 1rem 0 1rem;
        overflow-x: hidden;

    }

    .burger {
        top: 2rem;
        right: 2rem;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        margin-right: 4.3rem;
        margin-top: 2rem;

    }



    .line {

        width: 2.8rem;

        border: 0.1rem solid #000000
    }

    h1 {
        font-family: 'Georgia', 'Gelasio', serif;
        color: rgba(241, 205, 179, 1);
        font-style: normal;
        font-weight: 400;
        font-size: 3.2rem;
        margin: 0;
        letter-spacing: 0.06em;
        color: rgba(84, 84, 84, 1);

    }

    h2 {

        font-family: 'Arial', 'Arimo', sans-serif;
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.5rem;
        letter-spacing: 0.1em;
        color: rgba(255, 255, 255, 1);
        margin: 0;
        padding: 0;
        color: rgba(41, 41, 41, 1);
    }

    h3 {

        font-family: 'Georgia', 'Gelasio', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 2.5rem;
        line-height: 130%;

        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;

    }

    .card-body h3 {

        font-family: 'Georgia', 'Gelasio', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 2rem;
        line-height: 2.3rem;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #545454;
    }

    /* HEADER */

    .header-background {
        background: #FFFFFF;
        min-height: 10.2rem;
        position: fixed;
        width: 100%;

    }

    header {
        padding-top: 3rem;
        height: 9rem;
        display: flex;
        width: 100%;
        justify-content: space-between;


    }

    .logo {
        width: 30rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .logo-subheader {
        margin-left: 0.4rem;
        margin-top: 0.9rem;
        display: inline-block;
    }


    nav {
        height: 6rem;
        display: inline-block;
        /*  background-color: red; */
        display: none;
        align-items: flex-start;

    }

    a {
        text-decoration: none;
    }

    nav a {
        color: #545454;
        font-family: 'Arial', 'Arimo', sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 160%;
        letter-spacing: 0;
        margin-left: 3.6rem;
        margin-top: 1.6rem;
        text-decoration: none;
        transition: color 0.2s ease;

    }

    nav a:hover {
        color: #292929;

    }

    nav .active {
        cursor: pointer;

        color: #292929;
        border-bottom: 0.3rem solid rgb(241, 205, 179);
    }

    nav a:active {
        transform: scale(.98);
    }

    /* OUR FRIENDS SECTION */


    .our-friends-background {
        background: #F6F6F6;
        min-height: 164.9rem;
        padding-top: 12rem;

    }

    .our-friends-background .wrapper .our-friends-header {
        display: inline-block;
        text-align: center;
        padding-top: 1.6rem;
        margin-bottom: 0;
    }

    .slider {
        padding-top: 4.2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 3rem;
        flex-direction: column;

    }

    .card:nth-child(n+4) {
        display: none;

    }



    .card-body {
        width: 27rem;
        height: 43.5rem;
        background: #FAFAFA;
        border-radius: 0.9rem;
        transition: box-shadow 0.4s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.1rem;


    }

    .card {
        padding-bottom: 3rem;
    }

    .card-body:hover {
        box-shadow: 1rem 1.2rem 2.1rem 0rem rgba(0, 0, 0, 0.33);
        -webkit-box-shadow: 1rem 1.2rem 2.1rem 0 rgba(0, 0, 0, 0.33);
        -moz-box-shadow: 1rem 1.2rem 2.1rem 0rem rgba(0, 0, 0, 0.33);
        cursor: pointer;
    }

    .card-button {
        margin-top: -0.3rem;
        background-color: transparent;
        padding: 1.4rem 4.3rem;
        border: 0.2rem solid #F1CDB3;
        color: #292929;
        display: inline-block;
        border-radius: 10rem;
        font-family: 'Georgia', 'Gelasio', serif;
        font-size: 1.7rem;
        line-height: 130%;
        letter-spacing: 0.06em;

        transition: background-color 0.5s ease;

    }

    .card-button:hover {
        cursor: pointer;
        background: #FDDCC4;
        border: 0.2rem solid #FDDCC4;

    }

    .slider-button-container {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        align-items: center;
    }



    .pagination {
        font-family: 'Georgia', 'Gelasio', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 2rem;
        line-height: 115%;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        gap: 1rem;
        color: #292929;

    }



    .pagination button {

        width: 5.2rem;
        height: 5.2rem;
        border-radius: 10rem;
        cursor: pointer;
    }

    .active-button {
        border: 0.2rem solid #F1CDB3;
        transition: background-color 0.2s ease;
    }

    .active-button:hover {
        background: #F1CDB3;
    }

    .current-page {
        background: #F1CDB3;

    }

    .current-page:hover {
        cursor: default;
    }

    .inactive {
        border: 0.2rem solid #CDCDCD;

    }

    .inactive:hover {
        cursor: default;

    }

    .our-friends-background .wrapper {
        display: flex;
        flex-direction: column;
    }


    /* CONTACTS */
    .main-footer-section {
        min-height: 80.9rem;

        background: url(/assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    }

    .footer-container {
        display: flex;
        gap: 1.8rem;
        padding-top: 0.5rem;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        margin: 0 auto;


    }

    .footer-text {
        display: flex;
        flex-direction: column;
        max-width: 100%;

    }

    .contacts {
        display: flex;
        flex-direction: column;
        gap: 1.4rem;
        max-width: 84%;
        margin: 0 auto;


    }

    .footer-header {
        font-family: 'Georgia', 'Gelasio', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 2.5rem;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;

    }

    .footer-subheader {
        font-family: 'Georgia', 'Gelasio', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 2.5rem;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        padding-top: 1.5rem;
        max-width: 90%;
        padding-left: 1.5rem;
    }

    .contacts h4 {
        font-family: 'Georgia', 'Gelasio', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 2rem;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #F1CDB3;
    }

    .email {
        display: flex;
        height: 3.2rem;
        align-items: center;
        gap: 2rem;
    }



    .phone {
        padding-top: 2.6rem;
        padding-left: 0.6rem;
        display: flex;
        height: 3.2rem;
        align-items: center;
        gap: 2rem;

    }

    .location {
        display: flex;
        flex-direction: column;
        gap: 2.1rem;
        max-width: 100%;
        margin: 0 auto;

    }

    .address-boston {
        display: flex;
        height: 3.2rem;
        align-items: center;
        gap: 2rem;

    }

    .address-london {
        display: flex;

        height: 3.2rem;
        align-items: center;
        gap: 2rem;
        padding-top: 2.5rem;

    }

    .footer-puppy {

        padding-left: 0rem;
        padding-top: 2.3rem;
        max-width: 86.5%;
        height: auto;



    }

    .contacts a {
        transition: transform .1s ease;
    }

    .contacts a:hover {
        transform: scale(1.03);
    }

    .location a {
        transition: transform .1s ease;
    }

    .location a:hover {
        transform: scale(1.03);
    }

    .location h4 {

        font-family: 'Georgia', 'Gelasio', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 2rem;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #F1CDB3;
    }


}